.transition {
  transition: all 1s;
}

.square {
  width: 150px;
  height: 150px;
  background: black;
}

.rounded {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid black;
}
